@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4"> 🖤BMW WORLD🖤 </h1>
    <img class="hero" src="https://p4.wallpaperbetter.com/wallpaper/138/803/685/bmw-5-series-e60-black-sedan-wallpaper-preview.jpg" alt="recipe Photo" />
    <h1 class="display-4"> Малко история... </h1>
    <p>
        БМВ (BMW, съкращение от Bayerische Motoren Werke AG, Баварски моторни заводи АД) е германска компания с дейност обхващаща производство и продажба на моторни превозни средства (МПС),
        резервни части и аксесоари за МПС, продукти на машиностроенето, както и свързани с тях услуги. БМВ АД е фирмата-майка на концерна БМВ Груп, която е пазарно ориентирана към сектора „Автомобили“, „Мотоциклети“, „Финансови услуги“ и „Други дружества“. БМВ Груп работи на международно ниво в над 150 страни.
        БМВ Груп включва освен БМВ АД всички дъщерни фирми, върху които БМВ АД може да директно и управляващо влияние. Освен това БМВ АД управлява БМВ Груп.

        БМВ Груп е един от най-успешните производители на автомобили и мотоциклети в света и е сред най-големите промишлени предприятия в Германия.
        Марките БМВ, Мини и Ролс-Ройс са три от най-силните премиум марки в автомобилната индустрия.
        Фирмата развива изследователска и иновативна дейност на 13 местоположения в пет държави, произвежда продуктите си на 31 места в 14 държави.
        Фирмата предлага и финансови услуги и е един от водещите доставчици на премиум услуги за индивидуална мобилност. (M.A.)
    </p>
    <p>Project by Zlatomilla Mincheva</p>
    
</div>